#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part pv.367 --fstype="lvmpv" --ondisk=sda --size=975537
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
volgroup fedora --pesize=4096 pv.367
logvol swap --fstype="swap" --size=32764 --name=swap --vgname=fedora
logvol /home --fstype="xfs" --size=840372 --name=home --vgname=fedora
logvol / --fstype="xfs" --size=102400 --name=root --vgname=fedora

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
