#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.439 --fstype="lvmpv" --ondisk=sda --size=975537
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
volgroup fedora_localhost-live --pesize=4096 pv.439
logvol /home --fstype="xfs" --size=102400 --name=home --vgname=fedora_localhost-live
logvol / --fstype="xfs" --size=840368 --name=root --vgname=fedora_localhost-live
logvol swap --fstype="swap" --size=32768 --name=swap --vgname=fedora_localhost-live

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
